.syntax--source.syntax--js {
  color:@very-light-gray;

  .syntax--punctuation.syntax--definition.syntax--parameters {
    color:@very-light-gray !important;
  }

  .syntax--variable {
    &.syntax--language {
      color:@very-light-gray;
    }
  }

  .syntax--constant {
    color:@green1light;

    &.syntax--numeric {
      color:@red1light;
    }
    &.syntax--boolean {
      color:@red1light;
    }
    &.syntax--language {
      color:@red1light;
    }
  }

  .syntax--entity.syntax--name.syntax--type.syntax--class {
    color: @orange1light;
  }

  .syntax--instance {
    color:@orange1light;
  }

}
