.syntax--python {
  // color:@very-light-gray;

  &.syntax--comment {
    color:@light-gray !important;
  }

  .syntax--keyword.syntax--other {
    color:@blue1light;
  }

  .syntax--storage {
    color:@red1light;
  }

  .syntax--support.syntax--function.syntax--builtin {
    color:@blue1dark;
  }

  .syntax--constant {
      color: @orange1dark;

      &.syntax--character.syntax--escape {
          color:@red1dark;
      }
  }

  .syntax--numeric {
      color:@red1light;
  }

  .syntax--function-call {
    color:@blue1light;
  }

  .syntax--self {
      color: @green;
  }
}
