@very-light-gray: #D7E5E3;
@light-gray: #718CA1;
@gray: #41505E;
@dark-gray: #333F4A;
@very-dark-gray: #0D151C;

@blue1light: #70E1E8;
@blue1medium: #33CED8;
@blue1dark: #008B94;

@blue2light: #5EC4FF;
@blue2medium: #68A1F0;
@blue2dark: #336ACC;

@red1light:#E27EAD;
@red1medium:#D95468;
@red1dark:#B62D65;

@orange1-very-light: #FFFACD;
@orange1light: #EBBF83;
@orange1dark: #D98E48;

@green1light: #8BD49C;

@gray1dark: #718CA1;

@functional-green: #1dd292;
@parameterized-lavender: #DA70D6;

@cyan: @blue1light;
@blue: @blue2light;
@dark-blue: @blue2dark;
@purple: @red1dark;
@pink: @red1light;
@yellow: @orange1light;
@green: @green1light;
@red: @red1medium;
@orange: @orange1dark;
@light-orange: @orange1light;
@pale-yellow: @orange1-very-light;
